.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;
}

.footer-item {
  display: inline-block;
  font-size: 28px;
  line-height: 15px;
  color: #fff;
}

.anchor-icon:hover {
  color: #ffd700;
}
