/* css for all section */
* {
  font-family: "Helvetica Neue";
}

#title {
  color: #fff;
  letter-spacing: 5px;
}

#section {
  padding-top: 200px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 50px;
  min-height: 480px;
  background-color: rgba(255, 255, 255, 0.05);
}

.container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  margin: 20px;
}

.link-active {
  color: #fff;
}
/* end of css for all section */

/* start of header css */
header {
  display: flex;
  padding: 0;
  width: 100%;
  height: auto;
  position: absolute;
  align-items: center;
  background-color: #ffba08;
  font-size: 20px;
}

#name {
  padding-left: 20px;
  margin-right: auto;
  font-family: inherit;
  letter-spacing: 1.5px;
  font-weight: 420;
}

.nav-bar {
  margin-left: auto;
}

.nav-list {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  margin: 18px;
  color: #000;
  letter-spacing: 1px;
}

a:hover {
  color: #fff;
  transition: all 0.2s ease-out;
}

.home-icon:hover::after {
  content: "HOME";
}

.about-icon:hover::after {
  content: "ABOUT";
}

.project-icon:hover::after {
  content: "PROJECT";
}

.resume-icon:hover::after {
  content: "RESUME";
}

.contact-icon:hover::after {
  content: "CONTACT";
}
/* end of navbar css */

/* start of homepage css */
#home-page {
  padding-top: 200px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 20px;
  margin: 0 50px;
  height: 480px;
  min-height: 380;
  background-image: url("./assets/img/bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tag {
  color: #ffff00;
  opacity: 0.6;
  position: absolute;
  font-size: 20px;
  font-family: "Snell Roundhand";
}

h1,
h2 {
  font-family: "Chalkduster";
  letter-spacing: 1px;
}
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #ffffff;
  --color-2: #e4a9a8;
  --color-3: #ffcb63;
}

.title-word-2 {
  --color-1: #ffcb63;
  --color-2: #ffffff;
  --color-3: #e4a9a8;
}

.title-word-3 {
  --color-1: #e4a9a8;
  --color-2: #ffcb63;
  --color-3: #ffffff;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}
/* end of homepage css */

/* start of about section css */
#my-pic {
  margin-top: 20px;
  width: 180px;
  height: 180px;
}
/* end of about section css */

/* start of project section css */
.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  position: relative;
  width: 350px;
  margin: 30px;
}

.project-name {
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
}

.project-img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  opacity: 0.8;
}

.project-img:hover {
  transform: scale(1.1);
  opacity: 1;
  animation: fadeout 0.5s ease;
}

.project-p {
  height: 150px;
}

.github-link {
  text-align: center;
}

.btn {
  color: #fff;
  font-weight: 450;
}

.btn:hover {
  color: #ffba08;
}

/* end of project section css */

/* start of resume section css */
.resume {
  margin: 30px;
  text-align: center;
}

span {
  color: #fff;
}

.skill-list {
  padding-left: 35px;
}

.list-item {
  letter-spacing: 1.5px;
  flex: 0 0 25%;
}

.skill-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}

/* end of resume section css */

/* start of contact section css */

/* end of contact section css */

/* start of footer css */
.footer {
  position: relative;
  bottom: 20px;
  width: 100%;
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;
}

.footer-item {
  display: inline-block;
  font-size: 28px;
  line-height: 15px;
  color: #fff;
}

.anchor-icon:hover {
  color: #ffd700;
}
/* end of footer css */

/* resposive */
@media (max-width: 800px) {
  .container,
  .skill-list ul {
    flex-direction: column;
  }
}
